* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100vh;
  width: 100%;
  background-image: url("/macwallpaper.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.dock {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(162, 162, 162, 0.539);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.66);
}
.icon {
  padding: 0.65rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;

  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.icon:hover {
  transform: scale(1.25) translateY(-20%);
}
.icon:hover + .icon,
.icon:has(+ .icon:hover) {
  transform: scale(1.1) translateY(-10%);
}
.icon.github {
  background-color: black;
}
.note {
  background: linear-gradient(to bottom, rgb(255, 176, 80), rgb(255, 140, 0));
}
.pdf {
  background: linear-gradient(to bottom, rgb(255, 86, 123), rgb(255, 25, 75));
}
.calender {
  background: linear-gradient(to bottom, rgb(91, 91, 255), rgb(39, 39, 255));
}
.spotify {
  background: linear-gradient(to bottom, rgb(78, 253, 78), rgb(29, 255, 29));
}
.mail {
  background: linear-gradient(to bottom, rgb(103, 103, 255), rgb(74, 74, 248));
}
.link {
  background: linear-gradient(to bottom, rgb(255, 106, 255), rgb(255, 30, 255));
}
.cli {
  background: linear-gradient(to bottom, rgb(54, 52, 52), rgb(35, 35, 35));
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  color: white;
  background-color: rgba(50, 50, 50, 0.685);
  backdrop-filter: blur(5px);
  padding: 5px 10px;
}
.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.right{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.fullwindow{
  height: 100%;
  font-family: sans-serif;
  color: white;
  background-color: rgb(24, 24, 24);
  border-radius: 0.5rem;
  overflow: hidden;
}
.nav{
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(161, 161, 161, 0.486);
  background-color: rgb(41, 41, 41);
}
.dots{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.50rem 1rem;
}
.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}
.red{
  background-color: rgb(255, 55, 55);
  cursor: pointer;
}
.yellow{
  background-color: rgb(255, 255, 57);
}
.green{
  background-color: rgb(47, 255, 47);
}
.title{
  font-weight: 600;
  font-size: 13px;
  color: rgb(171, 171, 171);
}
.main-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.50rem 1rem;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: auto;
  height: 100%;
  padding: 1rem;
  padding-bottom: 5rem;
}
.card{
  flex-grow: 1;
  flex-basis: 20rem;
  max-width: 30rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  background-color: #3d3d3d;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: sans-serif;
  color: white;
}

.card .description{
  font-weight: 500;
  word-spacing: 1.1em;
  line-height: 1.2rem;
}
.card img{
  width: 100%;
  border-radius: 1rem;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag{
  background-color: #5c705b;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.urls{
  display: flex;
  gap: 1rem;
}
.urls a{
  color: white;
}

.note-window{
  height: 100%;
  padding: 1rem;
  overflow: auto;
  padding-bottom: 10rem;

  font-size: 1.1rem;
}
.note-window pre{
  background-color: transparent !important;
}
*::-webkit-scrollbar{
  width: 5px;
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
}
.resume-window{
  height: 100%;
  overflow: auto;
}
.resume-window iframe{
  width: 100%;
  height: 100%;

}
.spotify-window{
  height: 100%;
  width: 100%;
  
}
.spotify-window iframe{
  height: 100vh;
  width: 100%;
  border: none;
  padding-bottom: 15rem;
}
.cli-window{
  height: 100%;
  padding-bottom: 5rem;
}
div[name="react-console-emulator"]{
  height: 100%;
}